<%- include('partials/header', {title: "404 Not Found"}) %>

<main>
<div class="error-page">
  <h1>404</h1>
  <p>Oops! The page you're looking for doesn't exist.</p>
  <% if(isLoggedIn){ %>
    <a href="/dashboard" class="btm">Back to Dashboard</a>
  <% } else{ %>
    <a href="/" class="btn">Back to Home</a>
  <% } %>
  
</div>
</main>
<%- include('partials/footer') %>